
#Books{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    width: 90%;
    margin: 50px auto;
  
  }
  
  .product{
      
      position: relative;
      background-color: #ffffff;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  
  #image{
      display: block;
      width: 50%;
      margin: auto;
  }
  
  
  
  .product-info a{
      cursor: pointer;
  }
  
  .product-info>h5{
      color: black;
      margin: 0;
      padding: 0;
  }
  
  .product-info>p{
      margin: 0;
      padding: 0;
  }
  
  .prices{
     margin-bottom: 40px;
  }
  
  .product-btn{
      position: absolute;
      bottom: 0;
      width: 100%;
  }
  
  .product-btn .btn-cart{
      width: 100%;
      margin: 0;
      padding: 5px;
      text-align: center;
      text-decoration: none;
      border: none;
      background-color: #092C55;
      color: white;
  
  }
  